/* Smooth scrolling on the page */
html {
  scroll-behavior: smooth
}

/* Foreground color for body */
body {
  color: var(--text-color);
}

/* Foreground color for anchor */
a {
  color: var(--text-color);
}

/* Display color for hidden elements */
.visually-hidden {
  display: none
}

/* Foreground color for card category */
.card-category {
  color: var(--color-primary);
}

/* Foreground color for section tagline */
.section-tagline {
  color: var(--color-primary);
}
