/* Smooth scrolling on the page */
html {
  scroll-behavior: smooth
}

/* Foreground color for body */
body {
  color: text-color
}

/* Foreground color for anchor */
a {
  color: text-color
}

/* Display color for hidden elements */
.visually-hidden {
  color: none
}

/* Foreground color for card category */
.card-category {
  color: color-primary
}

/* Foreground color for section tagline */
.section-tagline {
  color: color-primary
}

/* Root element colors */
root {
  color-primary: #d73953
  color-black: #090909
  color-white: #ffffff
  color-light-grey: #f3f3f3
  color-dark-grey: #353535
  text-color: color-black
}
